.recipe-search-container {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-right: 10px;
  background-color: #fff;
}

.search-button,.back-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  margin-right: 10px;
}

.back-to-start-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  margin-left: 10px;
}

.search-button:hover,.back-button:hover,.back-to-start-button:hover {
  background-color: #3e8e41;
}

.error-message {
  color: red;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  background-color: #fff;
}

.recipe-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.recipe-details {
  margin-top: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  margin-top: 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.recipe-details ul {
  display: block;
  padding: 0;
  margin: 0;
  background-color: #fff;
}
.recipe-details li {
  margin-bottom: 10px;
  list-style: none;
  margin-left: 0;
}
.recipe-image-container {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.recipe-image-container img {
  width: 600px;
  height: 470px;
  object-fit: cover;
  border-radius: 8px;
}

.ingredients-container {
  display: inline-block;
  width: 55%;
  vertical-align: top;
  margin-left: 20px;
}

.ingredients-box {
  padding: 20px;
  margin-bottom: 20px;
}


.recipe-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline;
}
.recipe-details h2 {
  text-decoration: underline;
}

.ingredients-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.instructions-box {
  background-color: #C9E4CA; /* changed to blue */
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
}

.ingredients-box ul,.instructions-box p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #000;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}